* {
  font-size: 20px;
}

.even-row {
  background-color: #f0f4ff;
}

.odd-row {
  background-color: #fffbe6;
}

.qr-code {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 150px;
  height: 150px;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}